body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content{
    background-color: #545454;
    min-height: 88vh;
    text-align: center;
}

/*Configuracao do botao de iniciar operacao*/
#inicio{
    background-color: #417caa;
    border: 0;
    font-size: xx-large;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 30px;
}
#inicio:hover{
    background-color: #699ac0;
    border: 0;
    font-size: xx-large;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 30px;
}
/*fim da configuracao do botao principal*/

/*Configura o texto abaixo do botao iniciar*/
#labelIndex{
    display: block;
    padding: 50px;
    max-width: 430px;
    margin: 0 auto;

    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/*configura o rodapé da pagina*/
footer{
    background-color: #417caa;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
footer a:hover{
    color: #0e3549;
}
