<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertendo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/convert.css')}}">
</head>
<body>
    <!--Conteudo principal da pagina-->
    <div id="content">
        <img id="logo" src="../static/assets/logo.png"><br>
        <label>Gerando conteudo, por favor aguarde...</label>
    </div>
    <!--rodapé-->
    <footer>
        <a href="https://github.com/flp-sp/Web-PyInstaller?tab=readme-ov-file">Repositorio do projeto</a>
        <label>&nbsp;|&nbsp;</label>
        <a href="https://pyinstaller.org/en/stable/">Site oficial do Pyinstaller</a>
    </footer>
</body>
</html>